@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

@theme {
  --font-heading: 'Merriweather', serif;
  --font-body: 'Lato', sans-serif;
  --font-sans: 'Merriweather Sans', sans-serif;
}

@layer base {
  body{
    @apply bg-orange-50 font-body overflow-x-hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }

  a {
    @apply decoration-0;
  }

  button {
    @apply font-sans;
  }

  p{
    @apply font-body;
  }
}